body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
    background: linear-gradient(135deg, rgba(208, 241, 165, 0.8), rgba(124, 200, 103, 0.8));
}

.background {
  background: url('/static/background.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
   margin: 80px auto;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  margin: 40px auto;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 1200px;
  height: 100%;
  max-width: 95%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  height: 60px;
}

.header-right button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.profile-btn {
  background: #10b981;
  color: white;
}

.logout-btn {
  background: #ef4444;
  color: white;
}

.cart-icon {
  font-size: 20px;
  text-decoration: none;
}

.content {
  text-align: center;
}

.user-info {
  margin-bottom: 30px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f3f4f6;
  margin-bottom: 15px;
}

.info-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.info-email {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.edit-btn {
  padding: 10px 18px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.navigation-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-btn {
  padding: 12px;
  background-color: #111827;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 200px;
}
